.result-container {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  justify-content: center;
}

.result-container > .content {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgb(255, 102, 0); /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
